/* STYLE ABOUT SECAO PAGINA SOBRE MIM */

:root {
  --bg-btn: #232226;
  --btn-text: #f4f4f4;
}
body.dark-mode {
  --bg-btn: #f4f4f4;
  --btn-text: #575dda;
}
.main-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  width: 100%;
}
.profile__greeting {
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--text-body);
  font-size: 1rem;
}
.profile__image img {
  width: 25rem;
  height: 25rem;
}
.profile__info .profile__description {
  color: var(--text-body);
  text-align: left;
  margin-bottom: 0.625rem;
}
.profile__info .profile__description span {
  color: var(--color-primary);
}

.contact__links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.contact__link {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--text-title);
  border: 1px solid var(--text-title);
  border-radius: 6px;
  padding: 5px 15px;
  transition: all 0.3s ease;
}
.contact__link:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--border-color);
  color: var(--text-light);
}

@media screen and (max-width: 768px) {
  .main-profile {
    width: 90%;
    padding: 1rem;
    margin-top: 4rem;
  }
  .profile {
    flex-direction: column;
    gap: 0.625rem;
  }
  .profile img {
    width: 100%;
    height: auto;
    max-width: 12.5rem;
  }
  .profile__info {
    width: 100%;
  }
  .profile__greeting {
    font-size: 0.875rem;
  }
  .profile__description {
    text-align: justify;
    font-size: 0.875rem;
  }
  .contact__links {
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .contact__link {
    font-size: 0.875rem;
    padding: 5px 15px;
  }
}

/* Ajustes para tablets (768px até 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-profile {
    width: 80%;
    height: auto;
    margin-top: 5rem;
    gap: 1rem;
  }
  .profile {
    flex-direction: column;
  }
  .profile .profile__description {
    font-size: 1rem;
  }
  .profile .profile__image img {
    width: 100%;
    height: auto;
    max-width: 18.75rem;
  }
  .contact__links {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .header {
    justify-content: space-between;
  }
  .main-profile {
    width: 80%;
    height: auto;
    padding-bottom: 1rem;
  }
  .profile {
    flex-direction: column;
  }
  .profile .profile__info .profile__greeting {
    font-size: 1rem;
  }
  .profile .profile__description {
    font-size: 1rem;
  }
  .profile .profile__image img {
    width: 100%;
    height: auto;
    max-width: 18.75rem;
  }
  .contact__links {
    margin-bottom: 1rem;
  }
}
