.design-block__gallary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.design-block__gallary img {
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}
.design__gallary--wireframes img {
  height: 400px;
}
.wireframe-desktop {
  width: 100%;
  max-width: 600px;
}
.wireframe-mobile {
  width: 100%;
  max-width: 200px;
}
.design-block__gallary--desktop img {
  width: 100%;
  max-width: 580px;
}
.design-block__gallary--mobile img {
  width: 100%;
  max-width: 230px;
}
.result__gallary {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.result__gallary img {
  width: 100%;
  max-width: 280px;
  height: auto;
  transition: transform 0.3s ease;
}
.result__gallary img:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 768px) {
  .design-block__gallary {
    flex-direction: column;
    gap: 1rem;
  }
  .design__gallary--wireframes img {
    height: auto;
    max-width: 90%;
  }
  .wireframe-mobile {
    height: 400px;
  }
  .result__gallary {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .result__gallary img {
    max-width: 200px;
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .design-block__gallary {
    gap: 2rem;
  }
  .result__gallary {
    flex-wrap: nowrap;
    width: 100%;
    gap: 1rem;
  }
  .result__gallary img {
    max-width: 180px;
  }
}
