.result__gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
  margin-top: 3rem;
}
.result__gallary img {
  width: 100%;
  max-width: 230px;
  height: auto;
  transition: transform 0.3s ease;
}
.result__gallary img:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 768px) {
  .result__gallary {
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  .result__gallary img {
    max-width: 120px;
    width: 100%;
  }
  figcaption {
    font-size: 12px;
  }
  hr {
    margin: 0rem 0 3rem 0rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .result__gallary {
    flex-wrap: nowrap;
    width: 100%;
    gap: 1rem;
  }
  .result__gallary img {
    max-width: 180px;
  }
}
